{% extends "layout.html" %}
{% block body %}
        <h2>CERTIFICATIONS</h2>
        <table class="table table-borderless">
          <tbody>
            <tr class="tableHead">
              <td><strong>Applied Data Science with Python by University of Michigan
              </strong> </td>
              <td style="test-align:right"><strong>2020</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <p><a href="https://coursera.org/share/2613eaa34132cb1c09eaca25cc579f8f"
                     target="_blank">
                  [Verified Certificate]</a></p>
                <ul>
                  <li>Data Manipulation with <code>pandas</code></li>
                  <li>Data Charts and Plots with <code>matplotlib</code></li>
                  <li>Machine Learning with <code>sklearn</code></li>
                  <li>Text Mining and Natural Language Processing with <code>nltk</code> </li>
                  <li>Social Network Analysis with <code>networkx</code></li
                </ul>


              </td>
            </tr>
            <tr class="tableHead">
              <td><strong>Nanodegree, Data Engineer, Udacity</strong></td>
              <td style="test-align:right"><strong>2020</strong></td>
            </tr>

            <tr class="tableRow">
              <td colspan="2">
                <p><a href="https://graduation.udacity.com/confirm/EEGNQDK7"
                     target="_blank">
                  [Verified Certificate]</a></p>
                <ul>
                  <li><code>Postgres</code> Database for Sparkify Music App</li>
                  <li><code>Cassandra NoSQL</code> Database for Sparkify Music App</li>
                  <li>Data Warehouse for Sparkify Music App Using <code>AWS Redshift</code></li>
                  <li>Data Lake for Sparkify Music App Using <code>AWS EMR</code> and
                    <code>Apache spark</code></li>
                  <li>Data Pipeline (DAG) for Sparkify Music App Using <code>Apache airflow</code></li>
                  <li>Data Lake for US Immigration Data Using <code>pyspark</code></li>
                </ul>
              </td>
            </tr>
            <tr class="tableHead">
              <td><strong>Nanodegree, Machine Learning Engineer, Udacity</strong></td>
              <td style="test-align:right"><strong>2019</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <p><a href="https://confirm.udacity.com/6TUENK3"
                     target="_blank">
                  [Verified Certificate]</a></p>
                <ul>

                </ul>
              </td>
            </tr>
            <tr class="tableHead">
              <td><strong>Certified FE, Electrical Engineer, NCEES</strong></td>
              <td style="test-align:right"><strong>2018</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <p><a href="https://account.ncees.org/rn/1892547-1117915-affc0f5"
                     target="_blank">
                  [Verified Certificate]</a></p>
                <ul>

                </ul>
              </td>
            </tr>
          </tbody>
        </table>
{% endblock %}
