{% extends "layout.html" %}
{% block body %}
        <h2>EDUCATION</h2>
        <table class="table table-borderless">
          <tbody>
            <tr class="tableHead">
              <td><strong>Master of Science in Computer Science, University of Texas at Austin </strong></td>
              <td style="test-align:right"><strong>2020-2022</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <p><span style="color:green">Current</span> and
                  <span style="color:purple">future courses</span>:</p>
                <ul>
                  <li style="color:green">Deep Learning</li>
                  <li style="color:purple">Advanced Linear Algebra</li>
                  <li style="color:purple">Machine Learning</li>
                  <li style="color:purple">Reinforcement Learning</li>
                  <li style="color:purple">Parallel System</li>
                  <li style="color:purple">Advanced Operating Systems</li>
                  <li style="color:purple">Online Learning and Optimization</li>
                  <li style="color:purple">Quantum Computing</li>
                </ul>
              </td>
            </tr>

            <tr class="tableHead">
              <td><strong>Master of Business Administration, KFUPM, GPA 3.73/4.00	</strong></td>
              <td style="test-align:right"><strong>2016-2019</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <ul>
                  <li>Provided consultancy services for a local chocolate company
                    and developed the market growth plan, performed SWOT analysis,
                    recommended the best organization structure, optimized the workflow process,
                    proposed roles, responsibilities, and the KPIs for the various departments
                    within the company.</li>
                </ul>
              </td>
            </tr>

            <tr class="tableHead">
              <td><strong>Master of Science in Electrical Engineering, KAUST, GPA 3.96/4.00</strong></td>
              <td style="test-align:right"><strong>2012-2014</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <ul>
                  <li>Designed an algorithm to process multi-relay cooperative networks
                     using dimensionality reduction  and Monte Carlo simulations of Wireless
                     Sensor Networks using C++ and OpenMPI.</li>
                  <li>Reduced runtime by 90% by using OpenMPI (Parallel Computing)
                    on KAUST’s supercomputer.</li>
                  <li>Advisor: Prof. Mohamed-Slim Alouini. Resulted in two publications
                    [<a href="https://ieeexplore.ieee.org/document/6966205" target="_blank">1</a>,
                    <a href="https://ieeexplore.ieee.org/document/6879437" target="_blank">2</a>]
                    and Master’s thesis.</li>
                  <li>Thesis: <a href="https://repository.kaust.edu.sa/handle/10754/317256" target="_blank">
                    Joint Pre-processer Based Detectors for One-way and Two-way
                     Cooperative Communication</a></li>
                </ul>
              </td>
            </tr>

            <tr class="tableHead">
              <td><strong>Bachelor of Science in Electrical Engineering,
                University of Jordan, GPA 3.65/4.00</strong></td>
              <td style="test-align:right"><strong>2007-2012</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <ul>
                  <li>Implemented a frequency-compensation processing block using
                    GNU Radio (Software-Defined Radio).</li>
                  <li>Used a range of programming languages in a Linux environment:
                     C++, Python, and XML.</li>
                </ul>
              </td>
            </tr>
          </tbody>

        </table>
{% endblock %}

