{% extends "layout.html" %}
{% block body %}
        <h2>EXPERIENCE</h2>
        <table class="table table-borderless">
          <tbody>
            <tr class="tableHead">
              <td><strong>Data Scientist, Saudi Aramco</strong></td>
              <td style="test-align:right"><strong>2018-Present</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <ul>
                  <li>Identified 5+ business cases with AI applicability for oil and gas surface facilities.</li>
                  <li>Implemented a machine learning regression model capable of predicting fluid pressure drop, velocity, well tie-in project execution duration and project cost. The models guide decision making and ensure capturing of cost saving opportunities. The regression models had an R2 score of above 0.9.</li>
                  <li>Utilized OCR technologies to perform data mining on historical pdf files and coded regular expressions to extract, clean, transform, and then load the required data in a tabular format ready for further analysis.</li>
                  <li>Built various dashboards using Spotfire and Tableau for different use cases: budget analysis, historical cost data, wells and pipeline network graphs, hydraulic simulation results and successfully integrated the data into one dashboard.</li>
                  <li>Presented findings to upper management in multiple occasions and provided actionable insights.</li>
                </ul>
              </td>
            </tr>
            <tr class="tableHead">
              <td><strong>Business Analyst for Well Tie-in System, Saudi Aramco</strong></td>
              <td style="test-align:right"><strong>2015-Present</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <ul>
                  <li>Directing the development of 50+ new functionalities in Saudi Aramco’s Well Tie-in system.</li>
                  <li>Increased system utilization from 50% to 100% within three months.</li>
                  <li>Leading a data integrity campaign and set forth processes to ensure accurate capture of future data.</li>
                  <li>Mapped the business process for capital projects of oil and gas surface facilities. Followed through to implementation by conducting quality checks and user testing.</li>
                </ul>
              </td>
            </tr>
            <tr class="tableHead">
              <td><strong>Petroleum Facility Engineer, Saudi Aramco</strong></td>
              <td style="test-align:right"><strong>2014-Present</strong></td>
            </tr>
            <tr class="tableRow">
              <td colspan="2">
                <ul>
                  <li>Performing initial design and scoping for 50+ oil and water wells tie-in in terms of: pipes, instrumentation, control panels, power lines, flow meters, pressure monitoring systems, and telecom systems.</li>
                  <li>Performing 80+ hydraulic simulations using GAP/PROSPER for oil production and water injection networks starting from the well piping, transfer pipelines, and up to the Gas-Oil Separation Plant.</li>
                </ul>
              </td>
            </tr>
          </tbody>

        </table>
{% endblock %}






