{% extends "layout.html" %}
{% block body %}
        <h2>PROJECTS</h2>
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Data Engineering
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Built a postgres database to faciliate analyzing data
                     collected on songs and user activities for the a music streaming fictitious
                      startup named Sparkify. The data is on different JSON files
                       and the aim of this project is to extract data from
                        these files, transform it, and then load it to the database,
                         effectively creating an appropriate ETL pipeline.
                         <a href="https://github.com/aitabuzaid/data-engineering/tree/master/Project%201%20Postgres">
                           [repo]</a></li>
                  <li>Built an Apache Cassandra NoSQL database to faciliate
                    analyzing data collected on songs and user activities for the
                      music streaming app Sparkify. The data is on multiple
                      CSV files and the aim of this project was to extract data
                      from these files, transform it by merging it into one CSV
                       file, and finally load it to the NoSQL database that is
                       optimized to answer specific analytical questions
                       provided by Sparkify. <a href="https://github.com/aitabuzaid/data-engineering/tree/master/project-2-cassandra-db">[repo]</a> </li>
                  <li>Created a data warehouse solution using AWS Redshift for the music
                    app Sparkify. The Redshift cluster reads song and log data hosted as
                    JSON files on AWS S3 and loads them as analytical tables in a star
                    schema. The project utilized proper table design in terms distribution
                    style, distribution keys, and sort keys in order to optimize
                    performance.
                    <a href="https://github.com/aitabuzaid/data-engineering/tree/master/project-3-redshift-dwh">[repo]</a></li>
                  <li>Created a data lake for Sparkify to manage the growing database.
                      Spark/PySpark was utilized to build an ETL pipeline that extracts
                      data from S3, processes it on AWS EMR, and loads back to S3 as a
                      star schema of fact and dimension tables in parquet files.
                    <a href="https://github.com/aitabuzaid/data-engineering/tree/master/project-4-spark-data-lake">[repo]</a></li>
                  <li>Automated the data warehouse ETL pipeline for Sparkify by
                     using Apache Airflow. The created DAG included staging the data,
                      loading facts table, loading dimension tables, and finally
                       run quality checks to ensure data quality.
                     <a href="https://github.com/aitabuzaid/data-engineering/tree/master/project-5-airflow">[repo]</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Machine Learning and Data Science
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Built a deep learning model through use of Convolutional
                    Neural Networks to classify 99 plant species based on leaf
                    images and pre-extracted features. Achieved high accuracy
                    on training and validation images, and low log-loss score
                    (0.02) on test images.</li>
                  <li>Used the K-means algorithm and Principle Component Analysis
                    to cluster customers purchasing various commodities from
                    wholesale retailers.</li>
                  <li>Designed an actor-critic algorithm based on Neural Networks
                    to teach a quad-copter the takeoff task through a suitable
                    reward function and state space.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Web Development
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li><a href="index.html">This website.</a> Built my own
                  personal webpage from scratch using <code>html5</code>,
                  <code>css</code>, <code>sass</code>, and <code>bootstrap.</code></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                Misc. Projects
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Developed an executable GUI program using Matlab to solve
                     every numerical methods' algorithm. The program included
                     options to select the algorithm, data fields to capture
                      the input, and finally a screen to show the solution
                       for the given input. Algorithms included LU Decomposition,
                     Gauss-Seidel, Regression, Fourier Approximation, Newton-cotes,
                     Runge-Kutta, among others.</li>
                  <li>Wrote 1000+ lines of code in order to program a
                       Microprocessor as a fully functioning digital
                        clock with LED lights. The project included both software
                         and hardware components and functioned seamlessly.</li>
                  <li>Used GNU Radio, which is an SDR open-source software,
                     to study the effect of having two different receiver
                     and transmitter clocks. This clock jitter has the biggest
                      effect when we use quadrature (complex) sampling. The main
                       part of the project was to build a new processing block
                        using C++, Python, and XML to compensate for this
                         frequency and phase shift. I was able to extend the
                          source code of the software and add this new capability
                           in the form of a new drag-and-drop signal processing block.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}


