{% extends "layout.html" %}
{% block body %}
        <h2>SKILLS</h2>
        <h4>Programming Languages</h4>
        <p>Java | Python | SQL | Fortran | Matlab | Assembly | VBA | C++ | C#
         | HTML | CSS | Bootstrap </p>
        <h4>Tools and Frameworks</h4>
        <p>Sklearn | Keras | Gnuradio | OpenMP I Git | Pandas | DSP | Spotfire | Tensorflow | NoSQL
			| AWS Redshift, EC2, S3, EMR | Postgres | Cassandra | Apache Spark, Airflow | PySpark </p>
        <h4>Industry Knowledge</h4>
        <p>Business Analysis and Statistics | Data Analytics | Digital Transformation | Research |
			     Deep Learning | Reinforcement Learning | Visualization Dashboards | Big Data</p>
{% endblock %}

