$DarkerSeaGreen : #2a7d4f;
$LightGray : #111111;

h1 {
}

.green {
  background-color: MediumSeaGreen;
}

.jumbotron {
  margin-bottom: 0px;}

.container {
  margin-top: 30px;
}

tr.tableHead {
  background-color: MediumSeaGreen;
}

tr.tableHead:hover {
  background-color: $DarkerSeaGreen;
}

tr.tableRow {
  background-color: white;
}

tr.tableRow:hover {
  background-color: LightGray;
}

div.centered h2, .thumbnails, div.centered  p{
  text-align:center;
}

.thumbnails img {
  width: 30px;
  height: 30px;
}


@mixin personalImg() {
  text-align:center;
  border: solid;
  height: auto;
}

@media (min-width: 601px){
  div.centered>img {
    @include personalImg();
    width: 100%;
  }
}
@media (max-width: 600px){
  div.centered>img {
    @include personalImg();
    width: 50%;
  }
}
